html,
body {
    margin: 0;
    padding: 0;
}

body {
    padding: 15px;
    background-color: #f2f3f5;
}

.layui-card-header {
    display: flex;
    /* 内容两侧对齐 */
    justify-content: space-between;
    /* 元素在侧轴居中 */
    align-items: center;
}

#form-add,
#form-edit {
    padding-top: 20px;
    padding-right: 30px;
}